name: Specs
on:
  - push
  - pull_request
jobs:
  all_specs:
    name: All Specs
    strategy:
      matrix:
        ruby: ['3.2', '3.3', '3.4']
        gemfile: ['Gemfile']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Start LocalStack
        run: docker compose up -d

      - name: Wait for LocalStack
        run: |
          timeout 30s bash -c '
          until curl -s http://localhost:4566/_localstack/health | grep -q "\"sqs\": \"available\""; do
            echo "Waiting for LocalStack..."
            sleep 2
          done
          '

      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run specs
        run: bundle exec rake spec
        env:
          BUNDLE_GEMFILE: ${{ matrix.gemfile }}

      - name: Run integration specs
        run: bundle exec rake spec:integration
        env:
          BUNDLE_GEMFILE: ${{ matrix.gemfile }}

  ci-success:
    name: CI Success
    runs-on: ubuntu-latest
    if: always()
    needs:
      - all_specs
    steps:
      - name: Check all jobs passed
        if: |
          contains(needs.*.result, 'failure') ||
          contains(needs.*.result, 'cancelled') ||
          contains(needs.*.result, 'skipped')
        run: exit 1
      - run: echo "All CI checks passed!"
