name: Specs
on:
  - push
  - pull_request
permissions:
  contents: read
jobs:
  specs:
    name: Specs
    strategy:
      matrix:
        ruby: ['3.2', '3.3', '3.4']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b # v1.275.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run specs
        run: bundle exec rake spec

  integrations:
    name: Integrations
    strategy:
      matrix:
        ruby: ['3.2', '3.3', '3.4']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Start LocalStack
        run: docker compose up -d

      - name: Wait for LocalStack
        run: |
          timeout 30s bash -c '
          until curl -s http://localhost:4566/_localstack/health | grep -q "\"sqs\": \"available\""; do
            echo "Waiting for LocalStack..."
            sleep 2
          done
          '

      - uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b # v1.275.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run integration specs
        run: bundle exec rake spec:integration

  ci-success:
    name: CI Success
    runs-on: ubuntu-latest
    if: always()
    needs:
      - specs
      - integrations
    steps:
      - name: Check all jobs passed
        if: |
          contains(needs.*.result, 'failure') ||
          contains(needs.*.result, 'cancelled') ||
          contains(needs.*.result, 'skipped')
        run: exit 1
      - run: echo "All CI checks passed!"
