name: "Close stale issues and PRs"
on:
  schedule:
    - cron: "30 1 * * *" # At 01:30 - https://crontab.guru/#30_1_*_*_*
  workflow_dispatch: {}
jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v4
        with:
          stale-issue-message: This issue is now marked as stale because it hasn't seen activity for a while. Add a comment or it will be closed soon.
          stale-pr-message: This PR is now marked as stale because it hasn't seen activity for a while. Add a comment or it will be closed soon.
          close-issue-message: This issue was closed because it hasn't seen activity for a while.
          close-pr-message: This PR was closed because it hasn't seen activity for a while.
          days-before-stale: 60
          days-before-close: 7
